Source: openpanel-mod-awstats
Section: misc
Priority: optional
Maintainer: OpenPanel/Panel6 packager <packages@panelsix.com>
Build-Depends: debhelper (>= 5), libgrace, libgrace-devel, openpanel-devel, openpanel-mkmodulexml, zlib1g-dev, libssl-dev
Standards-Version: 3.7.2

Package: openpanel-mod-awstats
Architecture: any
Depends: , openpanel-core (>= 0.8.3), openpanel-mod-apache2, awstats
Description: Configure awstats per (sub) domain 
 Openpanel awstats management module
