Source: openpanel-mod-awstats
Section: misc
Priority: optional
Maintainer: OpenPanel packager <packages@openpanel.com
Build-Depends: debhelper (>= 5), libgrace, libgrace-dev, openpanel-dev, openpanel-mkmodulexml
Standards-Version: 3.7.2

Package: openpanel-mod-awstats
Architecture: any
Depends: openpanel-core (>= 0.8.3), openpanel-mod-apache2, awstats, ${shlibs:Depends}
Description: OpenPanel module to configure awstats per (sub) domain 
 Openpanel awstats management module
